html, body {
    background-color: #5f5f5f;
    color: #fff555;
    margin:0;
    padding:0;
}

.bar {
    display:flex;
    width: 3vw;
    height: 100vh;
}

.arrow{
    display:flex;
    position:relative;
    font-size: 10em;
    line-height : 100vh;
    animation: bounce 2s infinite linear;
}

.menu {
    background-color: #4e4e4e;
    width: 30vw;
    height: 100vh;
    position:absolute;
    top:0vh;
    text-align:center;
    font-size:3em;
}

.list {
    display:block;
    text-align:center;
    color: #fff555;
    text-decoration: none;
}

.home{
    position:absolute;
    top:5vh;
}

.info{
    position:absolute;
    top:20vh;
}

.skill{
    position:absolute;
    top:35vh;
}

.history{
    position:absolute;
    top:50vh;
}

.contact{
    position:absolute;
    top:65vh;
}

.intro {
    animation-name:intro;
    animation-duration:0.5s;
}

.outro {
    animation-name:outro;
    animation-duration:0.5s;
}

.blind {
    display:none;
}

.effect:hover{
    content:'';
    height:0.1em;
    position:absolute;
    background-color:#fff555;
    width:10%;
    transition: 0.5s;
}


@keyframes bounce {
    0%{
        right:1px;
    }
    15%{
        right:3px;
    }
    30% {
        right:6px;
    }
    50% {
        right:15px;
    }
    70% {
        right:6px;
    }
    85% {
        right:3px;
    }
    100%{
        right:1px;
    }
}

@keyframes intro {
    0%{
        width:1vw;
    }
    20%{
        width:3vw;
    }
    40%{
        width:6vw;
    }
    60%{
        width:10vw;
    }
    100%{
        width:30vw;
    }
}

@keyframes outro{
    0%{
        width:30vw;
    }
    40%{
        width:10vw;
    }
    60%{
        width:6vw;
    }
    80%{
        width:3vw;
    }
    100%{
        width:1vw;
    }
}