<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/menu.css">
</head>
<body>
    <div id="bar" class="bar"> 
        <div class="arrow">◀️</div>
    </div>
    <div id="menu" class="menu blind">
        <ul>
            <div id="home" class="home list blind">Home</div>
            <div id="info" class="info list blind">Info</div>
            <div id="skill" class="skill list blind">Skill</div>
            <div id="history" class="history list blind">History</div>
            <div id="contact" class="contact list blind">Contact</div>
        </ul>
    </div>
    <script src="static/menu.js"></script>
</body>
</html>