<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/menu.css">
</head>
<body>
    <div id="bar" class="bar"> 
        <div class="arrow">⬅</div>
    </div>
    <div id="menu" class="menu blind">
        <ul>
            <a id="home" class="home list blind" href="/home">Home</a>
            <a id="info" class="info list blind" href="/info">Info</a>
            <a id="skill" class="skill list blind" href="/skill">Skill</a>
            <a id="history" class="history list blind" href="/history">History</a>
            <a id="contact" class="contact list blind" href="/contact">Contact</a>
        </ul>
    </div>
    <script src="static/menu.js"></script>
</body>
</html>